.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  background: #3d3d3d;
  border-bottom: 3px solid rgb(180, 180, 180);
  top: 0;
  left: 0;
  width: 99%;
  height: 20vh;
  z-index: 9999;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vh;
  
}

.header-center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vh;
}
