.reset-button {
    cursor: default;
    background: transparent;
    height: 5vh;
    border: 1px solid transparent;
  animation: rainbowText 6s linear infinite;
}

@keyframes rainbowText {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: cyan;
  }
  71% {
    color: blue;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.reset-button:hover {
    border: 1px solid transparent;
}

.reset-button:focus,
.reset-button:active,
.reset-button:focus-visible {
    outline: none;
    border: none;
}

.reset-button-logo {
    cursor: default;
    transition: transform 0.5s ease;
}

.reset-button-logo:active {
    transform: scale(0.9);
}

@media (prefers-color-scheme: light) {
    .reset-button {
        color: #14141488;
    }
}

@media (max-width: 480px) {
  .reset-button {
    height: 44px; /* estándar touch */
  }

  .reset-button-logo {
    transform: scale(0.95);
  }
}
